apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-network-policy
spec:
  podSelector:
    matchLabels:
      app: {{ .Release.Name }}

  policyTypes:
    - Ingress
    - Egress

  ingress:
  - from:
    - namespaceSelector: {}
    ports:
    - port: 8080
      protocol: TCP

  egress:
  - to:
    - podSelector:
        matchLabels:
          app: {{ .Release.Name }}-db
    ports:
    - port: 5432
      protocol: TCP