apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.APP_NAME }}-upload-pvc
  namespace: {{ .Release.NAMESPACE }}
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 5Gi